[Desktop Entry]
Name=Reverse Image Search Google
Exec=python3 -m searchbyimage --provider google %f
Icon=searchbyimage-google
NoDisplay=true
Terminal=false
Type=Application
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;
