[Desktop Entry]
Name=Reverse Image Search ImgOps
Exec=python3 -m searchbyimage --provider imgops %f
Icon=searchbyimage-imgops
NoDisplay=true
Terminal=false
Type=Application
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;
